*{
	margin: 0;
	padding: 0;
}

.fondoModal{
	display: none;
	z-index: 5;
	background-color: rgba(0,0,0,0.4);
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.modalMensajes{
	display: flex;
	justify-content: center;	
	align-items: center;
	width: 100%;
	background: linear-gradient(135deg, rgba(219,126,109,1) 0%, rgba(201,88,69,1) 49%, rgba(183,56,55,1) 100%); 
	animation:animacionArriba 0.5s;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
}
.modalMensajes{
	display: block;
	width: 70%;
	background: #fff;
	overflow: hidden;
	padding: 5px;
}
.modalTitulo{
	color:#fff;
	font-family: "segoe ui light";
	font-size: 35px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color:#03093B;
}
.modalTitulo label{
	padding-top: 10px;
	padding-bottom: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}

@keyframes animacionArriba{
	from{top: -100px;opacity:0} to{top: 0;opacity:1}
}
