*{
	margin: 0;
	padding: 0;
}

.fondoModal{
	display: none;
	z-index: 5;
	background-color: rgba(0,0,0,0.4);
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.modalMensajes{
	display: flex;
	justify-content: center;	
	align-items: center;
	width: 100%;
	background: linear-gradient(135deg, rgba(219,126,109,1) 0%, rgba(201,88,69,1) 49%, rgba(183,56,55,1) 100%); 
	animation:animacionArriba 0.6s;
	position: relative;
	margin: 0 auto;
	margin-top: 100px;
}
.modalMensajes{
	display: block;
	width: 45%;
	background: #fff;
	overflow: hidden;
}
.textosNotificacion,.textoNotificacionError{
	text-align: center;
    background-color: #2ECC71;
    color: #fff;
    font-family: segoe ui light;
    padding: 20px;
}
.descripcion{
	padding: 30px 30px 0 30px;
font-family: segoe ui light;
}

.cerrar{
	font-size: 20px;
	outline: none;
}

.campos{
	display: block;/*permite colocar en bloque nuestra etiqueta, traduccion ocupa todo el espacio*/
	margin: 10px auto;/*40 de espacio arriba y abajo, auto centra horizontal*/
	width: 40%;/*es para que del 100% ocupe un 40%*/
	font-size: 15px;/**/
	border: none;/*elimina los bordes*/
	border-radius: 10px;/*redondea las 4 esquinas*/
	text-align: center;/*centra el texto*/
	padding: 5px;/*le brinda un espaciado*/
	color: #0075bf;/*color de fuente, es identico al fondo*/
	outline: none;/*elimina contorno de linea*/
	background-color: #fff;/*color blanco de fondo*/

}

.btnIniciar{
	padding: 10px;/*agregmos espaciado*/
	margin: 0 auto;/*centramos el boton*/
	display: block;/*permite colocar en bloque nuestra etiqueta*/
	background-color: initial;/*reiniciamos el color de fondo*/
	border: none;/*eliminamos bordes*/
	color: #fff;/*color blanco para cambiar el contorno de nuestro icono*/
}

.btnAceptarNotificacion{
	text-decoration: none;
	   background-color: green;
    background-color: #2ECC71;
    color: #fff;
    padding: 20px 40px;
    border-radius: 50px;
    display: inline-block;
    margin: 15px;
    float: right;
    font-family: segoe ui light;
font-weight: bold;
}

@keyframes animacionArriba{
	from{top: -100px;opacity:0} to{top: 0;opacity:1}
}
