*{
    margin: 0;
    padding: 0;   
   }
   
   html,body,.auxBtn,.fondo{
       width: 100%;
       height: 100%;
   }
   
   .auxBtn{
       /*centrando el elemento*/
       display: flex; /*cambiamos la forma de visualizacion para que los elemenos hijos reciban ciertas acciones, como centrar*/
       align-items: center; /*esta propiedad depende directamente display, sino tiene display: flex no se puede utilizar y lo centra en vertical*/
       justify-content: center; /*centra de manera orizontal y necesita display fex*/
   }
   
   .btnAbrir{
       background-color: #25860b;
       padding: 40px 80px; /*aca le damos tamaño largo y ancho si le colocamos dos valores, si le colocamos un solo valor
                            aplica para los 4 lados o tambien 4 valores por cada lado*/
       font-size: 30px;
       color: #fff;;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* font-family es para el tipo de letra*/
       border-radius: 50px; /*le colocamos border*/
       text-decoration:none; /*con esto quitamos la lina de los enlaces*/
   }
   
   .fondo{
       background-color: rgba(0, 0,0,.6); /*red,green,blue y el ultimo parametro es para la trasparencia*/
       display: none; /*el fondo debe de estar oculto, con esto ocultamos valores*/
       z-index: 2; /*establece orden de capas en el navegador, entre mas grande es el numero, mayor prioridad se le brinda*/
       position: fixed; /*es para dejar fijo o estatico un elemento*/
       top: 0;
       left: 0;   
       align-items: center;
       justify-content: center;
   }
   
   .fotoModal{
       width: 40%;
      
   }
   
   .CerrarModal{
       position: absolute;
       top: 5%;
       right: 5%;
       text-decoration: none;
       color: #fff;
   }